.row {
    display: flex;
    justify-content: space-between;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #170C3A;
    font-family: Questrial, sans-serif;
    width: 35%;
    margin-left: 15px;
}

.addButton {
    border: 0;
    border-radius: 5px;
    width: 25%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #fff;
    cursor: pointer;
}

.invisibleButton {
    display: block;
    visibility: hidden;
}

.checkbox {
    background: #365DF0 0% 0% no-repeat padding-box;
    border: 1px solid #365DF0;
    margin-right: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-top: 20px;
}

.card {
    background-color: #f6f6f6;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px;
}

.delete-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.card .remove {
    font-size: 12px;
    color: black;
    font-family: Questrial, sans-serif;
    border: 0;
    background-color: #F6F6F6;
    cursor: pointer;
}

.card .title {
    font-size: 24px;
    text-align: left;
    letter-spacing: 0.52px;
    font-family: Questrial, sans-serif
}

.card  .description {
    font-size: 15px;
    color: black;
    text-align: left;
    letter-spacing: 0.4px;
    font-family: Questrial, sans-serif;
    margin-bottom: 5px;
}

.card .tags {
    font-size: 15px;
    color: black;
    text-align: left;
    letter-spacing: 0.4px;
    font-family: Questrial, sans-serif
}

.backButton {
    border: 0;
    border-radius: 5px;
    width: 25%;
    height: 42px;
    padding: 0 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #fff;
    cursor: pointer;
}

.searchBar {
    width: 40%;
    height: 42px;
    background: #F5F4F6 0% 0% no-repeat padding-box;
    border: 1px solid #EBEAED;
    border-radius: 5px;
    opacity: 1;
    padding-left: 10px;
    font-size: 18px;
    font-family: Questrial, sans-serif
}
